body{
    margin: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}
header{
    height: 150px;
}
main{
    height: 100%;
}
a{
	text-decoration: none;
}
.wrapper{
    width: 1535px;
    margin: 0 auto;
}
    #supportnotice-header{
        margin-left:3%;
        margin-top: 3%;
         width: 130px;
        border-bottom: 1px solid black;
    }
        #supportnotice-header h2{
            margin: 0;
        }
    #notice-section{
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 5%;
        margin-bottom:15%;
        height: 100%;
    }
        #notice-date{
            margin-top: 46px;
            height: 20px;
        }
        #notice-enroll{
            float: left;
            margin: 0px;
        }
        #notice-views{
            float:right;
            margin: 0px;
        }
    #notice-contents-section{
        height: 100%;
    } 
        #notice-title{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
         #No{
                float: left;
                line-height: 30px;
                font: 13px;
            }
            #title{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            #userId{
                float: right;
                line-height: 30px;
                font: 13px;
            }
        #contents-img{
            margin-top: 25px;
            text-align: center;
        }
            #contents-img img{
                height: 390px;
                width: 560px;
            }
        #contents-text{
            margin-left: 10px;
            margin-right: 10px;
        }
        #notice-bottom{
            height: 100px;
        }
            #like-butn{

               text-align: center;
            }
                #like-butn input{
                    margin-top: 30px
                }
                
                .like {
				    left:40%;
				    width: 200px;
				    height:40px;
				    background: linear-gradient(125deg,#dbfcd8,#90ff96,#13ff0b);
				    background-position: left;
				    background-size: 200%;
				    color:black;
				    font-weight: bold;
				    border:none;
				    cursor:pointer;
				    transition: 1s;
				    display:inline;
				}

				.like:hover {
				    background-position: right;
				}
    
    #notice-reply{
        height: 100%;
    }
    #reply-count{
        height: 100px;
        width: 180px;
    }
        #reply-count h2{
            margin: 0px;
        }
    #reply-contents{
        height: 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    #reply-table{
        text-align: center;
        border-collapse: collapse;
    }
        #th-id{
            width: 150px;
        }
        #th-contents{
            width: 600px;
        }
        #th-enroll{
            width: 100px;
        }
        th,td{
            padding:15px;
        }
        .text-input{
            width: 500px;
            height: 50px;
        }
        .hide{
                    display:none;
                }
    #bottom-butn{
        height: 80px;
        width: 100%;
        text-align: center;
    }
    	#like-butn{
    		margin-top: 20px;
    	}
    	
        #listOne{
            margin-top: 5%;
            margin-left: 45%;
            float: left;
        }
        #reply-write{
        	width: 100px;
        	height: 50px;
        	border: none;
        }
        #delete{
            float: right;
            margin-top: 20px;
            margin-right: 20px;
        }
#footer{
    height: 150px;
}



/* 추천/로그인/ */
#login{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  width: 100px;
  font-size:17;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 10px;
}
#login:hover{
  background:#fff;
  color:#1AAB8A;
}
#login:before,#login:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#login:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#login:hover:before,#login:hover:after{
  width:100%;
  transition:800ms ease all;
}


						.button {
                            width: 100px;
                            height: 45px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 11px;
                            text-transform: uppercase;
                            letter-spacing: 2.5px;
                            font-weight: 500;
                            color: #000;
                            background-color: rgb(224, 224, 224);
                            border: none;
                            border-radius: 45px;
                            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                            transition: all 0.3s ease 0s;
                            cursor: pointer;
                            outline: none;
                            }
                          
                          .button:hover {
                            background-color: #2EE59D;
                            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                            color: #fff;
                            transform: translateY(-7px);
                          }

                          
                          	

