html,body{
    margin: 0px;
    padding:0px;
}

#main-navi{
   width: 1535px;
    margin: 0 ;
    
}
.subMenu{
      
        height: 90px;
        margin-top: 20px;
        margin-left: 80px;
        width: 1076px;
        line-height: 30px;
        
}

.subMenu h2{margin:0 10px;}
h2:after{content: "";display: block;width: 60px;border-bottom: 1px solid #bcbcbc;margin: 20px 0;}

#main-contents{
	width:100%;
     margin-left: 50px;
     display: flex; 
  	 min-height: 100vh; 
 	 flex-direction: column;
    
}
#contents{
    margin-left:400px;
    margin-top:30px;
   height:600px;
   width: 1000px;
   
}
.contents-title{
    height:51.5px;
    width: 100px;
    float:left;
}
#subject{
    height:40px;
    width:500px;
}
.contents_con{
    width: 723px;
    height: 51.5px;
    display:inline-block;
}
#btn-submit{
	 margin-left:300px;
    margin-top:50px;
    width:300px;
    padding:15px 70px 10px 70px;
    font-size:15px;
    display:block;
    background-color: rgb(193, 219, 152);border:1px solid rgb(153, 153, 153);border-radius: 3px;cursor:pointer;
    text-align: center;
}
