body {
    background-color: #eeeeee;
}
.find {
    width: 450px;
    height: 600px;
    margin: 50px auto;
    background-color: white;
}
.find-title {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 20px;
}
.find-title > p {
    line-height: 60px;
}
.find-field1 {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    justify-content: center;
}
.find-field1 > div {
    height: 100%;
    width: 40%;
    text-align: center;
    border: 1px solid #eeeeee;
    cursor: pointer;
    line-height: 10px;
}
.find-field1 > div:first-child {
    background-color: #e0e0e0;
}
.find-field1 > div p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
    line-height: 40px;
    display: block;
}
.find-field2 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.find-field2 > div {
    width: 40%;
    height: 30px;
    text-align: center;
}
.id-email {
    text-align: center;
    margin-top: 30px;
    display: none;
}
.id-email input:first-child {
    width: 290px;
    height: 40px;
    font-size: 13px;
}
.id-email input:last-child {
    width: 300px;
    height: 40px;
    margin-top: 50px;
    background-color: black;
    color: grey;
    font-size: 13px;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: #f5f5f5;
    border: none;
}
.id-email input:last-child:hover {
    background-color: #e0e0e0;
}
.id-phone {
    width: 290px;
    text-align: center;
    margin: 50px auto;
    display: none;
}
.id-phone input {
    width: 300px;
    height: 40px;
    margin-top: 50px;
    background-color: #f5f5f5;
    color: grey;
    font-size: 13px;
    font-weight: bolder;
    font-family: sans-serif;
    border: none;
}
.id-phone input:hover {
    background-color: #e0e0e0;
}
