body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
header{
    background-color: rgb(173, 196, 136);
    width: 100%;
    height: 150px;
}
#logo{
    width: 19%;
    height: 100%;
    text-align: center;

    float: left;
}
    #logo img{
        height: 150px;
    }
    #blank{
        float: left;
        width:45%;
        height: 100%;
    }
#header-menu{
    float: left;
    width: 30%;
    height: 38%;
    margin-top: 5%;
    text-align: center;
}
    #header-menu ul{
        list-style-type: none;
    }
        .main-menu{
            width: 33%;
            float: left;
        }
        .main-menu a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
        .serv-menu{
            padding: 0;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            margin-top: 13%;
            text-align: center;
            line-height: 50px;
            display: none;
            border-top: none;
        }
            .serv-menu a{
                display: block;
                font-size: 15px;
            }
            
            .serv-menu li:hover{
                background-color: rgba(173, 196, 136, 0.445);
            }
        .main-menu:hover .serv-menu{
            display: block;
        }
        #btn-div{
            height: 25%;
            width: 7%;
            float: right;
            margin-top: -8%;
            text-align: center;
        }
        #btn-div>button{
            background:rgba(173, 196, 136);
            color:#fff;
            border:none;
            position:relative;
            height:30px;
            width: 70px;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
          }
          #btn-div>button:hover{
            background:white;
            color:#2cb862c2;
          }
          #btn-div>button:before,#btn-div>button:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #2cb862c2;
            transition:400ms ease all;
          }
          #btn-div>button:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
          }
          #btn-div>button:hover:before,#btn-div>button:hover:after{
            width:100%;
            transition:800ms ease all;
          }
                #btn-div button a{
                    text-decoration: none;
                    color: black;
                }
/*------------------------------------main  */
.fas {
    font-size: 15px;
}
.support-div {
    height: 500px;
    width: 58%;
    background-color: #fafafa;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.input-div {
    height: 100%;
    width: 30%;
    border-right: 1px solid #bcaaa4;
}
.input-header {
    height: 20%;
    width: 100%;
    margin: 0;
}
.input-header h1 {
    text-align: left;
    position: relative;
    top: 34%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    font-weight: 300;
    border-bottom: 2px solid grey;
    margin-bottom: 5px;
    display: inline;
}
.input-footer {
    position: relative;
    margin: auto;
    width: 80%;
    height: 80%;
}

.input-footer > p, .input-footer > form > p {
    font-weight: 500;
    font-family:'Do Hyeon', sans-serif;
    padding: 40px 0 10px 0;
    margin: 0;
}
.input-footer > form {
    margin-top: 30px;
}
    #point-btn {
        position: relative;
        top: 70px;
        height: 50px;
        width: 100%;
        background-color: #eeeeee;
        border: none;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 900;
        cursor: pointer;
    }
    #point-btn:hover {
        background-color: #bdbdbd;
        color: white;
    }
.slide-wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}
.support-info1, .support-info2 {
    height: 100%;
    width: 70%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.support-info1 > h1, .support-info2 > h1 {
    margin: 3px;
}
.support-info2 {
    display: none;
}
.support-percentage > p {
    font-size: 13px;
    font-family: 'Do Hyeon', sans-serif;
    margin: 0;
    margin-left: -300px;
}
.btn-div {
    margin: 0 auto;
    text-align: center;
}
.prev, .next {
    height: 20px;
    width: 30px;
}
.prev {
    position: relative;
    top: -280px;
    right: 240px;
    background-color: #fafafa;
    border: none;
    cursor: pointer;
}
.next {
    position: relative;
    top: -280px;
    left: 240px;
    background-color: #fafafa;
    border: none;
    cursor: pointer;
}
.progress-bar {
    height: 20px;
    width: 250px;
    margin: 25px auto;
    border: 1px solid #F2709C;
    border-radius: 30px;
}
.progress-done {
    height: 100%;
    width: 125px;
    border-radius: 30px;
    background: linear-gradient(to left, #F2709C, #FF9472);
    font-size: 13px;
    font-family: 'Do Hyeon', sans-serif;
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #f2709C;
    opacity: 0;
    transition: 0.5s ease;
}
/* -------------video-section------------------- */

.con1 {
    text-align: center; 
    margin-top: 50px; 
    font-size: 18px;
}

.con2 {
    text-align: center;
    font-size: 16px;
    color: gray; 
    width: 90%; 
    border: 2px solid #bdbdbd; 
    margin: auto;
    padding: 20px;
}
legend {
    color: black;
}

/* --------------------------------------------------------- */
.vid-section {
   position: relative;
    margin: 50px auto;
    width: 100%;
    height: 400px;
    text-align: center;
}
.vid-section > video {
    object-fit: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.intro-section {
    margin: 50px auto;
    width: 90%;
    height: 500px;
    text-align: center;
}
.pic-div {
    width: 100%;
    height: 80%;
}
/* ------------------footer----------------------- */
.footer {
    background-color: rgba(173, 196, 136);
    margin: 0 auto;
}
.footer > div {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
}
.footer-field1,.footer-field3,.footer-field4 {
    width: 20%;
    height: 100%;
    margin: auto;
}
.footer-field1 > h4 {
    border-bottom: 2px solid black;
    line-height: 30px;
    font-size: 15px;
}
.footer-field1 > a {
    text-decoration: none;
    color: #9e9e9e;
    line-height: 20px;
    font-size: 12px;
}
.footer-field1 > input {
    height: 30px;
    width: 100%;
    border: 3px solid #2979ff;
    font-size: 10px;
    background-color: lightgray;
    color: #2979ff;
    margin-top: 20px;
    cursor: pointer;
}
.footer-field2 {
    width: 25%;
    height: 100%;
    margin: auto;
}
.footer-field2 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field2 > p {
    font-size: 11px;
    line-height: 20px;
    color: #616161;
    font-weight: 600;
}
.footer-field3 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field3 > p {
    font-size: 11px;
    line-height: 20px;
    color: grey;
}
.footer-field4 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field4 > p {
    font-size: 11px;
    line-height: 15px;
    color: black;
    font-weight: 600;
}
.fab {
    font-size: 25px;
}
.fa-facebook {
    color: #303f9f;
}
.fa-instagram-square {
    color: #283593;
}
.fa-youtube {
    color: red;
}
.fa-twitter-square {
    color: #2196f3;
}