body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header{ */
/*     background-color: rgb(173, 196, 136); */
/*     width: 100%; */
/*     height: 150px; */
    
/* } */
/* #logo{ */
/*     width: 19%; */
/*     height: 100%; */
/*     text-align: center; */
/*     float: left; */
/* } */
/*     #logo img{ */
/*         height: 150px; */
/*     } */
/*     #blank{ */
/*         float: left; */
/*         width:45%; */
/*         height: 100%; */
/*     } */
/* #header-menu{ */
/*     float: left; */
/*     width: 30%; */
/*     height: 38%; */
/*     margin-top: 5%; */
/*     text-align: center; */
/*     position: relative; */
/*     z-index: 3; */
   
/* } */
/*     #header-menu ul{ */
/*         list-style-type: none; */
/*     } */
/*         .main-menu{ */
/*             width: 33%; */
/*             float: left; */
/*         } */
/*         .main-menu a{ */
/*             display: block; */
/*             text-decoration: none; */
/*             font-size: 20px; */
/*             font-weight: bold; */
/*             color: black; */
/*         } */
/*         .serv-menu{ */
/*             padding: 0; */
/*             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
/*             margin-top: 13%; */
/*             text-align: center; */
/*             line-height: 50px; */
/*             display: none; */
/*             border-top: none; */
/*             background-color: white; */
/*         } */
/*             .serv-menu a{ */
/*                 display: block; */
/*                 font-size: 15px; */
/*             } */
            
/*             .serv-menu li:hover{ */
/*                 background-color: rgba(173, 196, 136); */
/*             } */
/*         .main-menu:hover .serv-menu{ */
/*             display: block; */
/*         } */
/*         #btn-div{ */
/*             height: 25%; */
/*             width: 7%; */
/*             float: right; */
/*             margin-top: -8%; */
/*             text-align: center; */
/*         } */
/*         #btn-div>button{ */
/*             background:rgba(173, 196, 136); */
/*             color:#fff; */
/*             border:none; */
/*             position:relative; */
/*             height:30px; */
/*             width: 70px; */
/*             cursor:pointer; */
/*             transition:800ms ease all; */
/*             outline:none; */
/*           } */
/*           #btn-div>button:hover{ */
/*             background:white; */
/*             color:#2cb862c2; */
/*           } */
/*           #btn-div>button:before,#btn-div>button:after{ */
/*             content:''; */
/*             position:absolute; */
/*             top:0; */
/*             right:0; */
/*             height:2px; */
/*             width:0; */
/*             background: #2cb862c2; */
/*             transition:400ms ease all; */
/*           } */
/*           #btn-div>button:after{ */
/*             right:inherit; */
/*             top:inherit; */
/*             left:0; */
/*             bottom:0; */
/*           } */
/*           #btn-div>button:hover:before,#btn-div>button:hover:after{ */
/*             width:100%; */
/*             transition:800ms ease all; */
/*           } */
/*                 #btn-div button a{ */
/*                     text-decoration: none; */
/*                     color: black; */
/*                 } */

/* -------------------main start----------------------- */
main {
    padding: 0;
    margin: 0;
}
.slide-section {
    position: relative;
    margin: 30px auto;
    border-radius: 5px;
    width: 70%;
    height: 500px;
    overflow: hidden;
    text-align: center;
}
.slides {
    width: 300%;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

.inner {
    width: 100%;
    float: left;
}
.inner img {
    width: 100%;
}
.btn1, .btn2, .btn3 {
    position: relative;
    top: -30%;
    width: 50px;
    height: 10px;
    background-color: white;
    border: 2px solid rgba(173, 196, 136);
}
.btn1:hover, .btn2:hover, .btn3:hover {
    background-color: rgba(173, 196, 136);
}
.navigation-manual {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.oneway-div {
    height: 100px;
    width: 300px;
    position: absolute;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
.oneway-btn {
    height: 100%;
    width: 49%;
    background-color: rgba(173, 196, 136);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.con1 {
    text-align: center; 
    margin-top: 50px; 
    font-size: 18px;
}

.con2 {
    text-align: center;
    font-size: 16px;
    color: gray; 
    width: 90%; 
    border: 2px solid #bdbdbd; 
    margin: auto;
    padding: 20px;
}
legend {
    color: black;
}

/* --------------------------------------------------------- */
.vid-section {
   position: relative;
    margin: 50px auto;
    width: 100%;
    height: 400px;
    text-align: center;
}
.vid-section > video {
    object-fit: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.intro-section {
    margin: 50px auto;
    width: 90%;
    height: 500px;
    text-align: center;
}
.pic-div {
    width: 100%;
    height: 80%;
}
/* ---------------------footer start---------------------------- */
.footer {
    background-color: ivory;
    margin: 0 auto;
}
.footer > div {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
}
.footer-field1,.footer-field3,.footer-field4 {
    width: 20%;
    height: 100%;
    margin: auto;
}
.footer-field1 > h4 {
    border-bottom: 2px solid black;
    line-height: 30px;
    font-size: 15px;
}
.footer-field1 > a {
    text-decoration: none;
    color: #9e9e9e;
    line-height: 20px;
    font-size: 12px;
}
.footer-field1 > input {
    height: 30px;
    width: 100%;
    border: 3px solid #2979ff;
    font-size: 10px;
    background-color: lightgray;
    color: #2979ff;
    margin-top: 20px;
    cursor: pointer;
}
.footer-field2 {
    width: 25%;
    height: 100%;
    margin: auto;
}
.footer-field2 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field2 > p {
    font-size: 11px;
    line-height: 20px;
    color: #616161;
    font-weight: 600;
}
.footer-field3 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field3 > p {
    font-size: 11px;
    line-height: 20px;
    color: grey;
}
.footer-field4 > h4 {
    border-bottom: 2px solid black;
    font-size: 14px;
    line-height: 30px;
}
.footer-field4 > p {
    font-size: 11px;
    line-height: 15px;
    color: black;
    font-weight: 600;
}
.fab {
    font-size: 25px;
}
.fa-facebook {
    color: #303f9f;
}
.fa-instagram-square {
    color: #283593;
}
.fa-youtube {
    color: red;
}
.fa-twitter-square {
    color: #2196f3;
}