body{background-color:rgb(241, 241, 241);}
.login-header {
    margin: 170px auto ;
    padding-top: 50px;
    width: 400px;
    height: 500px;
    border: none;
    text-align: center;
    background-color: white;
}

    #user-id, #user-pw {
        height: 40px;
        width: 350px;
        font-size: 10px;
        margin-top: 18px;
    }
    #login-btn {
        height: 40px;
        width: 350px;
        background-color: black;
        color: white;
        margin-top: 18px;
    }
.login-auto {
    text-align: left;
    margin: 10px 0 0 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    text-align: 15px;
}
    .login-util {
       margin: 0 0 0 100px;
       font-size: 13px;
    }
    .login-util > a {
       color: black;
       text-decoration: none;
    }
    .login-util > a:hover {
       color: rgb(95, 95, 100);
    }
.register-util {
    margin-top: 20px;
    text-align: center;
}
.register-util a {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #00b2cc;
    text-decoration: none;
}