body{
    margin: 0px;
}
header{
    height: 150px;
}
main{
    height: 100%;
}
a{
	text-decoration: none;
}
.wrapper{
    width: 1535px;
    margin: 0 auto;
}
    #supportnotice-header{
    	margin-top: 20px;
        margin-left: 76px;
         width: 130px;
        border-bottom: 1px solid black;
    }
        #supportnotice-header h2{
            margin: 0;
        }
    #notice-section{
        margin-left: 20%;
        margin-right: 20%;
        height: 100%;
    }
        #notice-date{
            margin-top: 46px;
            height: 20px;
        }
        #notice-enroll{
            float: left;
            margin: 0px;
        }
        #notice-views{
            float:right;
            margin: 0px;
        }
    #notice-contents-section{
        height: 100%;
    } 
         #notice-title{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
         #No{
                float: left;
                line-height: 30px;
                font: 13px;
            }
            #title{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            #userId{
                float: right;
                line-height: 30px;
                font: 13px;
            }
        #contents-img{
            margin-top: 25px;
            text-align: center;
        }
            #contents-img img{
                height: 390px;
                width: 560px;
            }
        #contents-text{
            margin-left: 10px;
            margin-right: 10px;
        }
        #notice-bottom{
            height: 150px;
        }
            #point-text{
                height: 70px;
            }
            #goal{
                float: left;
            }
            #goal-money{
                float:left;
            }
            #goal-rate{
                float: right;
            }
            #point-butn{
                text-align: center;
            }
            #point-view p{
                margin: 0;
                text-align: center;
            }
            #point-input{
                float: right;
            }
            #point-sub{
                float: right;
            }
            .hide{
                display: none;
            }
    #space{
        height: 20px;
    }
    #notice-reply{
        height: 100%;
    }
    #reply-count{
        height: 100px;
        width: 180px;
    }
        #reply-count h2{
            margin: 0px;
        }
    #reply-contents{
        height: 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    #reply-table{
        text-align: center;
    }
        #th-id{
            width: 150px;
        }
        #th-contents{
            width: 600px;
        }
        #th-enroll{
            width: 100px;
        }
        th,td{
            padding:15px;
        }
        .text-input{
            width: 500px;
            height: 50px;
        }
        
    #bottom-butn{
        height: 80px;
    }
        #list{
            margin-top: 20px;
            margin-left: 20px;
            float: left;
        }
        #reply-write{
        	width: 100px;
        	height: 50px;
        	border: none;
        }
        #delete{
            float: right;
            margin-top: 20px;
            margin-right: 20px;
        }
#footer{
    height: 150px;
}
/* 				                         목록버튼 */
					  .button {
	                       width: 100px;
	                       height: 45px;
	                       font-family: 'Roboto', sans-serif;
	                       font-size: 11px;
	                       text-transform: uppercase;
	                       letter-spacing: 2.5px;
	                       font-weight: 500;
	                       color: #000;
	                       background-color: rgb(224, 224, 224);
	                       border: none;
	                       border-radius: 45px;
	                       box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	                       transition: all 0.3s ease 0s;
	                       cursor: pointer;
	                       outline: none;
                       }
                     
                     .button:hover {
                       background-color: #2EE59D;
                       box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                       color: #fff;
                       transform: translateY(-7px);
                     }