body{
    margin: 0px;
    font-family: 'Gowun Dodum', sans-serif;
    
}
#header-div{
    height: 150px;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
}
section{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
}
main{
	height: 3200px;
}
#support-header{
    width: 80%;
    margin-top: 2%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
}
#support-header:after{
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px 0;
}

#support-top{
    width: 100%;
    height: 380px;
    text-align: center;
    margin-top: 5%;
}
#support-top-one{
    width: 50%;
    height: 200px;
    text-align: center;
    margin-left: 25%;
}
    #support-top-one h3{
        font-size: 30px;
        color: rgba(165, 226, 126, 0.623);
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        letter-spacing: 2px;
    }
    

#middle-section{
    border-top: 1px dashed gray;
    margin-top: 5%;
    width: 100%;
    height: 950px;
    margin-bottom: 10%;
}
    #support-middle-top{
        width: 50%;
        height: 100px;
        margin-left: 25%;
        margin-top: 5%;
        text-align: center;
    }
        #support-middle-top p{
            font-size: 23px;
            letter-spacing: 1px;
            font-weight: bold;
        }
        #middle-img{
            width: 50%;
            height: 500px;
            margin-left: 25%;
            text-align: center;
        }
    #middle-bottom{
        width: 100%;
        height: 300px;
    }
        #middle-ul{
            width: 75%;
            height: 100%;
            margin-left: 10%;
        }
            #middle-ul li{
                width: 25%;
                height: 75%;
                border-radius: 120px;
                float: left;
                margin-left: 5%;
                list-style: none;
                padding:1%;
                padding-top: 4%;
                background:radial-gradient(rgba(129, 153, 90, 0.74),rgba(129, 153, 90, 0.582) ,rgb(255, 255, 240) );
                
            }
                .li-text{
                    text-align: center;
                }
        
    #bottom-ul{
        width: 100%;
        height: 450px;
        margin-top: 5%;
        border-top: 1px dashed gray;
        margin-bottom: 5%;
        
    }
        #bottom-title{
            width: 50%;
            height: 50px;
            margin-left: 25%;
            margin-top: 5%;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
        }
        #bottom-contents{
            width: 50%;
            height: 200px;
            text-align: center;
            margin-left: 25% ;
            margin-top: 2%;
            margin-bottom: 10%;
            
        }
            #bottom-contents img{
                width: 300px;
            }
            #bottom-contents ul{
                width: 80%;
                height: 100%;
            }
            #bottom-contents li{
                list-style: none;
                float: left;
                width: 40%;
                height: 90%;
                margin-left: 10%;
            }
    #img-div{
        width: 100%;
        height: 600px;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 10%;
        border-top: 1px dashed gray;
    }
        #img-div img{
            margin-top: 5%;
            width: 1200px;
            height: 300px;
        }
#footer{
    height: 150px;
}