body{
    margin: 0px;
}
#header-div{
    height: 150px;
    width: 100%;
}
main{
    height: 100%;
}
ul{
    padding: 0px;
}
.wrapper{
    width: 1535px;
    margin: 0 auto;
}
    #supportnotice-header{
        margin-left:5%;
        margin-right:5%;
        width: 130px;
        border-bottom: 1px solid black;
    }
        #supportnotice-header h2{
            margin: 0;
        }
     #notice-section{
            margin-left: 10%;
            margin-right: 10%;
        }
            .notice{
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .notice ul{
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                }
                .notice ul li{
                    list-style: none;
                    text-align: center;
                    float: left;
                    margin: 20px;
                    border: 1px solid black;
                    height: 100%;
                    width: 265px;
                }
                    .notice-link{
                        display: block;
                        text-decoration: none;
                        color: black;
                    }
                    .list-img{
                        height: 190px;
                        width: 265px;
                    }
                    .list-percent{
                        height: 15%;
                        margin-top: 5%;
                        line-height: 40px;
                    }
                        .prog{
                            margin-top:3%;
                            width: 70%;
                            height: 50%;
                            background: rgb(189, 177, 177);
                            float: right;
                        }
                        .progs{
                            width: 80%;
                            height: 100%;
                            background: rgb(225, 149, 240);
                            color:#fff;
                            text-align: center;
                            line-height: 25px;
                        }
                    .list-btn{
                        margin-top: 10%;
                        text-align: center;
                    }
                    .list-btn button{
                        height: 30px;
                        background-color: rgba(135, 207, 235, 0.699);
                        border-radius: 5px;
                        border: 1px solid rgba(128, 128, 128, 0.671);
                        cursor: pointer;
                        box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.514);
                        font-size: 15px;
                    }
    #write{
        float:right;
    }
    #page{
        text-align: center;
    }
#footer{
    height: 150px;
}