body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(173, 196, 136);
    width: 100%;
    height: 150px;
    margin: 0;
    border-bottom: 1px solid gray;
}

#logo{
    width: 85%;
    height: 100%;
    margin-left: 2%;
    float: left;
}
    #logo img{
        height: 100%;
    }

    #logout{
        height: 25%;
        width: 10%;
        float: right;
        margin-top: 0.5%;
        text-align: center;
    }
    #logout>button{
        background:rgb(173, 196, 136);
        color:black;
        border:none;
        position:relative;
        height:30px;
        width: 70px;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        font-weight: bold;
        border: 1px solid #1d7c42c2;
        border-radius: 5px;
      }
      #logout>button:hover{
        background:white;
        color:#1d7c42c2;
        font-weight: bold;
        border: none;
      }
      #logout>button:before,#logout>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #2cb862c2;
        transition:400ms ease all;
      }
      #logout>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #logout>button:hover:before,#logout>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }
            #logout button a{
                text-decoration: none;
                color: black;
            }

#left-aside{
    width: 15%;
    height: 700px;
    float: left;
    border-right: 1px solid gray;
    box-sizing: border-box;
    background-color: ivory;
}
#main-ul{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    line-height: 400%;
}
    #main-ul ul{
        margin: 0;
        padding-left: 10%;
    }
    .main-li{
        list-style-type: none;
        margin-left: 5%;
    }
    .main-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    .serv-li{
        list-style-type: none;
        margin-left: 5%;
    }
    .serv-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    #choice{
        background-color: rgb(173, 196, 136);
    }
    .board-class{
        background-color: ivory;
        display:none;
    }
        .board-class li{
            list-style-type: none;
            line-height: 300%;
        }
        .board-class a{
            display: block;
            font-weight: normal;
            font-size: 15px;
        }
    .serv-li:hover .board-class{
        display: block;
    }
    #main-ul li:hover{
        background-color: rgba(173, 196, 136, 0.493);
    }

#main-div{
    width: 85%;
    height: 600px;
    float: left;
}
    #title{
        width: 90%;
        height: 10%;
        line-height: 400%;
        padding-left: 4%;
        font-size: 20px;
    }
    #line-div{
        width: 3%;
        border-bottom: 1px solid gray;
        margin-left: 4%;
    }
    #contents{
        width: 100%;
        height: 90%;
        padding-top: 5%;
    }
        #table-div{
            width: 60%;
            height: 70%;
            margin-left: 20%;
        }
        
        .search-div{
        width: 95%;
        height: 13%;
        margin-bottom: 3%;
        border-bottom: 1px solid gray;
    }
        #search{
            width: 250px;
            height: 25px;
            border-radius: 5px;
            border: 1px solid gray;
        }
        #search-btn{
            width: 60px;
            height: 30px;
            cursor: pointer;
            box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.514);
            border-radius: 5px;
            border: 1px solid gray;
        }
        #table-div table{
            width: 95%;
            table-layout: fixed;
            text-align: center;
        }
            table tr:first-child{
                background-color: rgba(173, 196, 136, 0.493);
            }
            table tr th:first-child{
                width: 5%;
            }
            table tr th:nth-child(2){
                width: 5%;
            }
        
