body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

#left-aside{
    width: 15%;
    height: 1200px;
    float: left;
    border-right: 1px solid gray;
    box-sizing: border-box;
    background-color: ivory;
}
#main-ul{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    line-height: 400%;
}
    #main-ul ul{
        margin: 0;
        padding : 0;
        text-align: right;
    }
    .main-li{
        list-style-type: none;
        padding-right:7%;
    }
    .main-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
            font-family: 'Gowun Dodum', sans-serif;
        }
    .serv-li{
        list-style-type: none;
    }
    .serv-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
            padding-right:7%;
            font-family: 'Gowun Dodum', sans-serif;
        }
    #choice{
        background-color: rgb(173, 196, 136);
    }
    .board-class{
        background-color: ivory;
        display:none;
    }
        .board-class li{
            list-style-type: none;
            line-height: 300%;
        }
        .board-class a{
            display: block;
            font-weight: normal;
            font-size: 15px;
        }
    .serv-li:hover .board-class{
        display: block;
    }
    #main-ul li:hover{
        background-color: rgba(173, 196, 136, 0.493);
    }
            

#main-div{
    width: 85%;
    float: left;
}
   #title{
        width: 90%;
        height: 10%;
        line-height: 400%;
        padding-left: 4%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Gowun Dodum', sans-serif;
    }
    #line-div{
        width: 4%;
        border-bottom: 3px solid rgb(4, 4, 78);
        margin-left: 4%;
        margin-top: -1%
    }

    #contents{
        width: 100%;
        height: 1500px;
        padding-top: 5%;
    }
        #list-div{
            width: 70%;
            height: 80%;
            margin-left: 15%;
        }
   	.search-div{
        width: 95%;
        height: 5%;
        margin-bottom: 3%;

    }
    #search{
        width: 200px;
        height: 30px;
        border: 0;
        border-bottom: 1px dotted gray;
       
    }
    #search:focus{
        background: aliceblue;

    }
    #search-btn{
        width: 70px;
        height: 35px;
        border: 0;
        border-bottom: 1px dotted gray;
        background-color: rgba(128, 128, 128, 0.575);
        cursor: pointer;
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
    }
            .list{
                height: 29%;
                float: left;
                margin: 0 5% 3% 0;
                border: 1px solid gray;
                padding: 1%;
            }
            	.list-img{
            		width: 250px;
            		height: 220px;
            	}
                .list-img img{
                    width: 245px;
                    height: 200px;
                }
                .list-text{
                    text-align: center;
                    font-size: 17px;
                    font-weight: bold;
                    overflow: hidden;
                }
                .list-text a{
                    text-decoration: none;
                    color: black;
                    display: block;
                }
                .list-percent{
                    height: 15%;
                    margin-top: 3%;
                    line-height: 40px;
                }
                    .prog{
                        margin-top: 5%;
                        width: 70%;
                        height: 50%;
                       	border: 1px solid #F2709C;
				    	border-radius: 30px;
                        float: right;
                    }
                    .progs{
/*                         width: 80%; */
                        height: 100%;
                        background: linear-gradient(to left, #F2709C, #FF9472);
                        box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #f2709C;
                        color:#fff;
                        text-align: center;
                        line-height: 25px;
                        border-radius: 30px;
                    }
/*                     .progress-bar {
				    height: 20px;
				    width: 250px;
				    margin: 25px auto;
				    border: 1px solid #F2709C;
				    border-radius: 30px;
				}
				.progress-done {
				    height: 100%;
				    width: 125px;
				    border-radius: 30px;
				    background: linear-gradient(to left, #F2709C, #FF9472);
				    font-size: 13px;
				    font-family: 'Do Hyeon', sans-serif;
				    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #f2709C;
				    opacity: 0;
				    transition: 0.5s ease;
				} */

                    /* .prog2{
                        -webkit-appearance: none;
                    }
                    ::-webkit-progress-bar{
                        width: 95%;
                        background-color: rgb(189, 177, 177);
                    }
                    ::-webkit-progress-value{
                        background-color: rgb(225, 149, 240);
                    } */

                .list-btn{
                    margin-top: 5%;
                    text-align: center;
                }
                   	.list-btn button {
					background-color: rgb(14, 89, 139);
					border: 2px solid rgba(60, 61, 61, 0.479);
					color: white;
					width: 120px;
					height: 35px;
					border-radius: 5px;
				}
				.list-btn a{
                   	text-decoration: none;
                   	color:white;
                   	font-size: 15px;
                   	
                }
				.list-btn button:hover {
					background-color: #fff;
					border-color:  rgb(14, 89, 139);
				}
				.list-btn button:hover a{
					color : darkblue;
				}
            #page-div{
            	width: 100%; 
            	hight: 10%;
            	text-align: center;
            }
                