body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
    margin: 0;
    border-bottom: 1px solid gray;
    background-color: rgb(173, 196, 136);
}

#logo{
    width: 85%;
    height: 100%;
    margin-left: 2%;
    float: left;
}
    #logo img{
        height: 100%;
    }

    #logout{
        height: 25%;
        width: 10%;
        float: right;
        margin-top: 0.5%;
        text-align: center;
    }
    #logout>button{
        background:rgb(173, 196, 136);
        color:black;
        border:none;
        position:relative;
        height:30px;
        width: 70px;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
        font-weight: bold;
        border: 1px solid #1d7c42c2;
        border-radius: 5px;
      }
      #logout>button:hover{
        background:white;
        color:#1d7c42c2;
        font-weight: bold;
        border: none;
      }
      #logout>button:before,#logout>button:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #2cb862c2;
        transition:400ms ease all;
      }
      #logout>button:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      #logout>button:hover:before,#logout>button:hover:after{
        width:100%;
        transition:800ms ease all;
      }
            #logout button a{
                text-decoration: none;
                color: black;
            }

#left-aside{
    width: 15%;
    height: 1000px;
    float: left;
    border-right: 1px solid gray;
    box-sizing: border-box;
    background-color: ivory;
}
#main-ul{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    line-height: 400%;
}
    #main-ul ul{
        margin: 0;
        padding-left: 10%;
    }
    .main-li{
        list-style-type: none;
        margin-left: 5%;
    }
    .main-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    .serv-li{
        list-style-type: none;
        margin-left: 5%;
    }
    .serv-li a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
    #choice{
        background-color: rgb(173, 196, 136);
    }
    .board-class{
        background-color: ivory;
        display:none;
    }
        .board-class li{
            list-style-type: none;
            line-height: 300%;
        }
        .board-class a{
            display: block;
            font-weight: normal;
            font-size: 15px;
        }
    .serv-li:hover .board-class{
        display: block;
    }
    #main-ul li:hover{
        background-color: rgba(173, 196, 136, 0.493);
    }
            

#main-div{
    width: 85%;
    float: left;
}
    #title{
        width: 90%;
        height: 60px;
        line-height: 400%;
        padding-left: 4%;
        font-size: 20px;
    }
    #line-div{
        width: 3%;
        border-bottom: 1px solid gray;
        margin-left: 4%;
    }

    #contents{
        width: 100%;
        height: 1500px;
        padding-top: 5%;
    }
        #list-div{
            width: 70%;
            height: 80%;
            margin-left: 15%;
        }
          .search-div{
            width: 70%;
            height: 4%;
            margin-bottom: 3%;
            border-bottom: 1px solid gray;
        }
            #search{
                width: 250px;
                height: 25px;
                border-radius: 5px;
                border: 1px solid gray;
            }
            #search-btn{
                width: 60px;
                height: 30px;
                cursor: pointer;
                box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.514);
                border-radius: 5px;
                border: 1px solid gray;
            }
            .list{
                height: 29%;
                float: left;
                margin: 0 5% 3% 0;
                border: 1px solid gray;
                padding: 1%;
            }
                .list-img img{
                    width: 200px;
                    height: 200px;
                }
                .list-text{
                    text-align: center;
                    font-size: 20px;
                }
                .list-text a{
                    text-decoration: none;
                    color: black;
                    display: block;
                }
                .list-percent{
                    height: 15%;
                    margin-top: 5%;
                    line-height: 40px;
                }
                    .prog{
                        margin-top: 5%;
                        width: 70%;
                        height: 50%;
                        background: rgb(189, 177, 177);
                        float: right;
                    }
                    .progs{
                        width: 80%;
                        height: 100%;
                        background: rgb(225, 149, 240);
                        color:#fff;
                        text-align: center;
                        line-height: 25px;
                    }

                    /* .prog2{
                        -webkit-appearance: none;
                    }
                    ::-webkit-progress-bar{
                        width: 95%;
                        background-color: rgb(189, 177, 177);
                    }
                    ::-webkit-progress-value{
                        background-color: rgb(225, 149, 240);
                    } */

                .list-btn{
                    margin-top: 10%;
                    text-align: center;
                }
                    .list-btn input{
                        width: 50%;
                        height: 30px;
                        background-color: rgba(135, 207, 235, 0.699);
                        border-radius: 5px;
                        border: 1px solid rgba(128, 128, 128, 0.671);
                        cursor: pointer;
                        box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.514);
                        font-size: 15px;
                    }